.root{
--blue:#0d6efd;
--green:#198754;
}
*{margin:0px;padding:0px;font-family:"Rubik",sans-serif;}
.pran{width:300px;
height:400px;
border:1.5pxsolidgray;
border-radius:7.5%;
margin:25vhauto;
text-align:center;
}
.logform{
height:150px;
}
.foco{
height:40%;
display:block!important;
width:100%;
margin-bottom:15px;
}
.blue{
color:#198754!important;
}
.green{color:#198754!important}
.navbar-brand{
font-weight:500;
}
nav{
border-bottom:solid0.5pxblack;
}
.bton{
border:1.5pxsolid!important;
transition-duration:0.2s;
transition-timing-function:ease;
}
.bton-b{
border-color:var(--green)!important;
color:#198754!important;
}
.bton-b:hover,
.bton-b:focus,
.bton-b:active{
color:white!important;
background-color:#198754!important;
}
.file{
min-height:200px;
border:1pxsolidgray;
border-radius:7.5%;
margin-top:20px;
text-align:center;
}
.para{
font-weight:light;
margin-right:5px;
margin-left:5px;
}
.controlp{
border:1.5pxsolidgray;
width:80%;
height:350px;
border-radius:7.5%;
}
.ed{
width:80%;
margin:5pxauto!important;
}
.iii{
height:50px!important;
width:100%!important;
display:block!important;
margin-top:10px;
}
.text-center{
text-align:center!important;
}